body{
    background-color: burlywood;
}

nav > a{
    text-decoration: none;
    color: black;
    border: 5px black solid;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    color: black;
}
nav > a:hover{
    background-color: black;
    color: rgb(25, 135, 84);
}
nav{
    margin: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    height: 10vh;
    position: fixed;
    left: 0;
    bottom: 0;
}
footer > p, article > p{
    color: white;
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 82.5vh;
    flex-direction: column;
}
section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    flex-direction: row;
}
article{
    padding: 1vh 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
article > h4{
    color: white;
}
img{
    width: 95%;
}
@media screen and (max-width: 991px) {
    section{
        flex-direction: column;
    }

}